<%= provide(:title, 'Contact') %>
<div class="center hero-unit">
  <h1>Sample App</h1>

  <h2>
    Contact Ruby on Rails Tutorial about the sample app
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

</div>

